<main class="container">
  <div class="row">
    <div class="col col-4">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar) %>
      <% end %>
    </div>
    <div class="col col-8">
      <h1><%= @user.name %>'s info</h1>
      <p>Location: <%= @user.location %></p>
    </div>
  </div>
</main>
