<header>
  <nav class="nav justify-content-end">
    <%= link_to "Log in", login_path, class: "nav-link" %>
    <%= link_to "Sign up", signup_path, class: "nav-link" %>
  </nav>
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Search for a Drive Thru</h1>
		   <%= render "layouts/search_bar" %>
    </div>
    </section>
</header>

<main class="container text-center">
  <h2>Or Search by Category</h2>
  <div class="row mt-5">
    <%= render 'category_photos' %>
  </div>
</main>
<footer> </footer>
