<%= render 'layouts/nav' %>
<main>
  <!-- Map -->
  <section>
   <div id="map" style="width: 100%; height: 500px"></div>
   </section>
   <!-- End Map -->
   <!-- Search results -->
   <section class="container-fluid mt-3">
     <% @search.each_with_index do |restaurant, index| %>
      <%= render partial: 'search_result', locals: { restaurant: restaurant, index: index } %>
     <% end %>
   </section>
   <!-- End Search Results -->
</main>
<script defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>
<script>
  // Attach your callback function to the `window` object
  window.initMap = function() {
    // JS API is loaded and available
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 4,
      center: { lat: 37.0902, lng: -95.7129},
    });
    const geocoder = new google.maps.Geocoder();
    const addresses = <%= raw(@search.to_json) %>;

    addresses.forEach(function(address) {
      geocodeAddress(geocoder, map, address);
    });
  };

  function geocodeAddress(geocoder, resultsMap, address) {
    geocoder.geocode({ address: address.address }, (results, status) => {
      if (status === "OK") {
        resultsMap.setCenter(results[0].geometry.location);
        const marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location,
        });

        const infowindow = new google.maps.InfoWindow({
          content: `${address.name} : ${address.address}`,
        });

        marker.addListener("click", () => {
          infowindow.open(map, marker);
        });
      } else {
        // alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>
