<div class="container">
  <h1>Enter a new restaurant</h1>
  <form>
    <label>Name of Business</label>
    <input type="text" />

    <label>Chain</label>
    <select name="chain">
      McDonald's
      <option value="starbucks">Starbucks</option>
      <option value="taco_bell">Taco Bell</option>
      <option value="chick_fil_a">Chick-Fil-A</option>
      <option value="wendys">Wendy's</option>
      <option value="burger_king">Burger King</option>
      <option value="dunkin">Dunkin'</option>
      <option value="panera">Panera Bread</option>
      <option value="sonic">Sonic Drive-in</option>
      <option value="kfc">KFC</option>
      <option value="arbys">Arby's</option>
      <option value="dairy_queen">Dairy Queen</option>
      <option value="jack_in_the_box">Jack in the Box</option>
      <option value="popeyes">Popeyes</option>
    </select>
    <label>
      Or<br />
      New chain? Enter name here:</label><input type="text">
    <label>Category of business</label>
    <fieldset>
      <label>Coffee & Tea
        <input type="checkbox">
      </label>
      <label>Chicken
        <input type="checkbox">
      </label>
      <label>Sandwich
        <input type="checkbox">
      </label>
      <label>Burgers
        <input type="checkbox">
      </label>
      <label>Ice Cream
        <input type="checkbox">
      </label>
      <label>Tacos
        <input type="checkbox">
      </label>
    </fieldset>
    <label>Address</label>
    <textarea>
    </textarea>
    <label>Phone Number <input type="tel" /></label>
    <fieldgroup>
      <label>Hours of Operation</label>
      <textarea id="hours"></textarea>
      <div id="hours-test"></div>
    </fieldgroup>
    <input type="submit" />
  </form>
</div>
