a {
  color: #d93526;
}

header {
  padding-bottom: 5em;
}

.navbar {
  background-color: #d93526;
  a {
    color: white;
  }
}

.tag_list {
  list-style-type: none;
  padding: 0;
}

.tag_item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em;
}

.search_result {
  padding-bottom: 2em;
  margin-bottom: 2.5em;
  border-bottom: 1px solid rgba(38, 202, 217, 0.5);
}

.restaurant_info {
  padding-bottom: 1em;
}
