// Shared styles

a {
  color: #d93526;
}

header {
  background-color: #e9ecef;
  padding-bottom: 3em;
}

main {
  margin-top: 3em;
  margin-bottom: 3em;
}

.navbar {
  background-color: #d93526;
  a {
    color: white;
  }
}

.btn-search {
  color: #fff;
  background-color: #d93526;
  border-color: #d93526;
}

.btn-search:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0056b3;
    border: #0056b3;
}

// Home Page
.white-text {
  color: #fff;
  a {
    color: #fff;
  }
}

.input-group-text {
  background-color: #fff;
}

.card-text-categories {
  position: absolute;
  bottom: 0;
}

.nav-link {
  font-weight: bold;
}

// Search Page
.tags-title {
  font-size: 0.9rem;
}

.tags {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5px;
    border-radius: 0.25rem;
    margin-bottom: 5px;
    font-size: 0.75rem;
  }
}

.search-result-address {
  text-align: left;
  @media (min-width: 575px) {
    text-align: right;
  }
}
